body {
  margin-top: 60px;
}

.navButtonUserLogin {
    --bs-btn-color: #fff;
  --bs-btn-bg: #0043a7;
  --bs-btn-border-color: #0043a7;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #022f74;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.cursor-pointer{
  cursor: pointer;
}

.userNavBtn{
  min-width: 100px;
}

.login-center{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-center > div{
  width: 40%;
}

.color-default{
  color:red;
}

.bgColor-default{
  background-color:red;
}

.borderColor-default{
  border-color:red;
}